form{
    border: 1px solid black;
    height: 250px;
    width: 400px;
    background-color: gainsboro;
}
h1{
    text-align: center;
}

#Pseudo{
    padding-left: 30px;
    
   
}
#MDP{
    padding-left: 30px;
  
}
#Checkbox{
    padding-left: 30px;
   
}
#Bouttons{
    text-align: center;
}