p {
        background-color: grey;
        border:solid green;

}

p:first-child{
        height: 100px;
        margin: 0px;
    
}

p:nth-child(2){
        width: 50%;
        margin: 20px 5px;
    
}

p:nth-child(3){
        height: 200px;
        width: 200px;
        margin :auto;
    
}
body{
        background-color: purple;
        margin: 0px;
        padding: 0px;
}