
article{
    background-color: bisque;
    border: black 1px solid;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
}
#header{
    display:flex;
    justify-content: center;
    background-color: blue;
    margin-bottom: 20px;
    
    
}
#footer{
    display:flex;
    justify-content: center;
    background-color: blue;
    

}
#articles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
@media (max-width: 1060px){
    #articles{
        display: flex;
        flex-direction: column;
    }
}